<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285482673896-3la4crmdbcodpuo4ifboq5och11feq4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285482673896-3la4crmdbcodpuo4ifboq5och11feq4h</string>
	<key>API_KEY</key>
	<string>AIzaSyAHW5ORIDIQpglgMqO5mcDEQWlqiAR37cw</string>
	<key>GCM_SENDER_ID</key>
	<string>285482673896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dannysantoso.dannymessenger</string>
	<key>PROJECT_ID</key>
	<string>dannymessenger-431b2</string>
	<key>STORAGE_BUCKET</key>
	<string>dannymessenger-431b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285482673896:ios:f0dff9e35a980ff52a0b5d</string>
	<key>DATABASE_URL</key>
	<string>https://dannymessenger-431b2.firebaseio.com</string>
</dict>
</plist>